.content {
    
    border-style: double;
    border-color: blue;
    border-bottom-width: 5px; 
    border-top-width: 5px; 
    margin-left: 350px;
    margin-right: 300px;
}
.content1 {
    margin-left: 100px;
    text-align: left;
    
}
body{
    text-align: center;
    background-color: white;
    
}
label{

    align-content: right;
}
input{

  cursor: pointer;
  align-self: auto;
}
#Name
{
    margin-left:160px;
}
#pass
{
    margin-left:45px;
}#Cpass
{
    margin-left:20px;
}#dob
{
    margin-left:105px;
}#Email
{
    margin-left:120px;
}
#Address
{
    margin-left:103px;
}
#g1
{
    margin-left:103px;
}#g2
{
    margin-left:103px;
}#g3
{
    margin-left:103px;
}
#l1
{
    margin-left:103px;
}#l2
{
    margin-left:103px;
}#l3
{
    margin-left:103px;
}

